<div id="<%= dom_id party %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= party.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= party.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Logo url:</strong>
    <%= party.logo_url %>
  </p>

</div>
