<div id="<%= dom_id county %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= county.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= county.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Geojson:</strong>
    <%= county.geojson_id %>
  </p>

</div>
