<%= render "shared/top" %>

<div class="flex">
  <div data-controller="map" class="flex">
    <!-- Left side with map -->
    <div style="width: 50vw; height: 50vw;" class="bg-gray-100">
      <div data-map-target="map" style="width: 50vw; height: 50vw;"></div>
      <%= render "shared/bottom" %>
    </div>

    <!-- Right side with county panel -->
    <div id='county-info'>
      <div data-map-target="countyPanel" class="flex"></div>
    </div>
  </div>
</div>

