<div id="<%= dom_id candidate_link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Candidate nomination:</strong>
    <%= candidate_link.candidate_nomination_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= candidate_link.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= candidate_link.kind %>
  </p>

</div>
