<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Candidate links" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Candidate links</h1>
    <%= link_to "New candidate link", new_candidate_link_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="candidate_links" class="min-w-full">
    <% @candidate_links.each do |candidate_link| %>
      <%= render candidate_link %>
      <p>
        <%= link_to "Show this candidate link", candidate_link, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
