<div id="<%= dom_id party_link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Party:</strong>
    <%= party_link.party_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= party_link.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= party_link.kind %>
  </p>

</div>
