/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html, body {
    height: 100%;
}

.hidden {
    height: 0;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 200px; /* Fixed width for the dropdown */
}
.dropdown-button {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%; /* Make sure it matches the width of the dropdown button */
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown-container:hover .dropdown-content {
    display: block;
}
.dropdown-container:hover .dropdown-button svg {
    transform: rotate(180deg);
}

.county-label {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.leaflet-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 0 !important;
}

/* Hide the arrow */
.leaflet-tooltip:before {
    display: none !important;
}

